[Unit]
Description=ZED capture service
After=network.target

[Service]
Type=simple
User=root
Group=zed
WorkingDirectory=/opt/plerion/capture-app/zed
ExecStart=/opt/plerion/capture-app/zed/start.sh
Restart=on-failure
RestartSec=2
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
