# universal junk
**/.git
**/.gitmodules
**/.svn
**/.DS_Store
**/.idea
**/.vscode
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/*.pyc

# Python/uv/venv stuff
**/.venv
**/.env
**/.tox
**/.cache
**/.uv
**/dist
**/build

# JS
**/node_modules