[project]
name = "torch-meta"
version = "0.1.0"
requires-python = ">=3.13"
dependencies = ["scikit-learn>=1.8.0"]
description = "Metapackage for selecting exactly one PyTorch runtime variant (cpu/cuda/rocm)"

[project.optional-dependencies]
cpu = ["torch==2.9.1+cpu", "torchvision==0.24.1+cpu"]
cuda = ["torch==2.9.1+cu126", "torchvision==0.24.1+cu126"]
# ROCm wheels are only available on Linux
rocm = [
    "torch==2.9.1+rocm6.4; sys_platform == 'linux'",
    "torchvision==0.24.1+rocm6.4; sys_platform == 'linux'",
    "pytorch-triton-rocm==3.5.1; sys_platform == 'linux'",
]

[tool.uv]
# Ensure that only one of the runtime variants is installed
conflicts = [[{ extra = "cpu" }, { extra = "cuda" }, { extra = "rocm" }]]

[[tool.uv.index]]
name = "pytorch-cpu"
url = "https://download.pytorch.org/whl/cpu"
explicit = true

[[tool.uv.index]]
name = "pytorch-cu126"
url = "https://download.pytorch.org/whl/cu126"
explicit = true

[[tool.uv.index]]
name = "pytorch-rocm64"
url = "https://download.pytorch.org/whl/rocm6.4"
explicit = true

[tool.uv.sources]
torch = [
    { index = "pytorch-cpu", extra = "cpu" },
    { index = "pytorch-cu126", extra = "cuda" },
    { index = "pytorch-rocm64", extra = "rocm", marker = "sys_platform == 'linux'" },
]
torchvision = [
    { index = "pytorch-cpu", extra = "cpu" },
    { index = "pytorch-cu126", extra = "cuda" },
    { index = "pytorch-rocm64", extra = "rocm", marker = "sys_platform == 'linux'" },
]
# Torch ROCm wheels depend on pytorch-triton-rocm, which isn't on PyPI, so we need to specify the source for it
pytorch-triton-rocm = [
    { index = "pytorch-rocm64", extra = "rocm", marker = "sys_platform == 'linux'" },
]
