[project]
name = "pytorch-runtime-cuda"
version = "0.1.0"
requires-python = ">=3.13"
dependencies = [
    "torch==2.9.0+cu126",
    "torchvision==0.24.0+cu126",
    "scikit-learn>=1.7.2",
]

[tool.uv.sources]
torch = { index = "pytorch-cu126" }
torchvision = { index = "pytorch-cu126" }

[[tool.uv.index]]
name = "pytorch-cu126"
url = "https://download.pytorch.org/whl/cu126"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
