[project]
name = "neural-networks"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = ["lightglue", "dirtorch", "pillow>=12.0.0", "gdown>=5.2.0"]

[project.optional-dependencies]
cpu = ["pytorch-runtime-cpu"]
cuda = ["pytorch-runtime-cuda"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/neural_networks"]
include = ["src/neural_networks/py.typed"]
