[project]
name = "neural-networks"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "dirtorch",
    "scikit-learn>=1.7.2",
    "gdown>=5.2.0",
    "numpy>=2.4.0",
]

[project.optional-dependencies]
# lightglue declares torch as a dependency, and in order for the correct index to be used for 
# that transitive dependency, lightglue itself must be declared as an extra dependency so that 
# an extra will actually apply and the sources block below will be used for selecting an index.
# 
# This will be true for any future dependencies that declare torch as a dependency as well.
cpu = ["lightglue", "torch>=2.9.1", "torchvision>=0.24.1"]
cuda = ["lightglue", "torch>=2.9.1", "torchvision>=0.24.1"]
rocm = [
    "lightglue",
    "torch>=2.9.1",
    "torchvision>=0.24.1",
    "pytorch-triton-rocm>=3.5.1",
]

[tool.deptry]
exclude = ["third-party"]

[tool.deptry.per_rule_ignores]
DEP002 = ["torchvision", "pytorch-triton-rocm"]

[tool.uv.sources]
torch = [
    { index = "pytorch-cpu", extra = "cpu" },
    { index = "pytorch-cuda", extra = "cuda" },
    { index = "pytorch-rocm", extra = "rocm" },
]
torchvision = [
    { index = "pytorch-cpu", extra = "cpu" },
    { index = "pytorch-cuda", extra = "cuda" },
    { index = "pytorch-rocm", extra = "rocm" },
]
pytorch-triton-rocm = [{ index = "pytorch-rocm", extra = "rocm" }]

[tool.uv]
conflicts = [[{ extra = "cpu" }, { extra = "cuda" }, { extra = "rocm" }]]

[[tool.uv.index]]
name = "pytorch-cpu"
url = "https://download.pytorch.org/whl/cpu"
explicit = true

[[tool.uv.index]]
name = "pytorch-cuda"
url = "https://download.pytorch.org/whl/cu128"
explicit = true

[[tool.uv.index]]
name = "pytorch-rocm"
url = "https://download.pytorch.org/whl/rocm6.4"
explicit = true

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/neural_networks"]
include = ["src/neural_networks/py.typed"]
