name: Create Deployment PR

on:
  push:
    branches: [feature/ci]
    paths:
      - ".github/workflows/create-deployment-pr.yml"
      - "scripts/src/scripts/build.py"
      - "images.json"
      - "services/**"
      - "tasks/**"
      - "common/**"
      - "!services/api/src/db/migrations/**"

concurrency:
  group: create-deploy-pr
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write
  id-token: write

env:
  DEPLOY_BRANCH: bot/deploy

jobs:
  prepare:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with: { fetch-depth: 0 }

      - name: Ensure remote deploy branch exists
        id: prepare
        run: |
          set -euo pipefail
          if ! git ls-remote --exit-code --heads origin bot/deploy >/dev/null 2>&1; then
            git checkout -B bot/deploy origin/main
            git push origin bot/deploy
          fi

  plan:
    runs-on: ubuntu-latest
    outputs:
      role_arn: ${{ steps.pulumi.outputs.role_arn }}
      names: ${{ steps.plan.outputs.names }}
      needs_lock: ${{ steps.plan.outputs.needs_lock }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup UV
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          cache-dependency-glob: |
            **/pyproject.toml
            **/uv.lock

      # - name: Setup Pulumi
      #   uses: pulumi/setup-pulumi@v2

      # - name: Authenticate Pulumi
      #   uses: pulumi/auth-actions@v1
      #   with:
      #     organization: tyler-s-hatch
      #     requested-token-type: urn:pulumi:token-type:access_token:personal
      #     scope: user:tyler-s-hatch

      # - name: Get AWS role ARN from Pulumi
      #   id: pulumi
      #   working-directory: infrastructure
      #   run: |
      #     set -euo pipefail
      #     ROLE_ARN=$(pulumi stack output --stack core main-prepare-deploy-role-arn)
      #     echo "role_arn=$ROLE_ARN" >> $GITHUB_OUTPUT

      # - name: Configure AWS credentials
      #   uses: aws-actions/configure-aws-credentials@v4
      #   with:
      #     role-to-assume: ${{ steps.pulumi.outputs.role_arn }}
      #     aws-region: us-east-1

      # - name: Login to Amazon ECR
      #   uses: aws-actions/amazon-ecr-login@v2

      - name: Create plan
        id: plan
        run: |
          set -euo pipefail

          # Create image build plan
          cd scripts
          # uv run --locked src/build.py plan --all --output plan.json
          uv run --project script --no_workspace build plan --all --output plan.json

          # Echo plan json for logging
          echo Plan:
          jq . plan.json

          # Extract names from plan (or set to __EMPTY__ if no images to build)
          if [ "$(jq 'keys|length' plan.json)" -eq 0 ]; then
            echo 'needs_lock=false' >> "$GITHUB_OUTPUT"
            echo 'names={"name":["__EMPTY__"]}' >> "$GITHUB_OUTPUT"
          else
            echo 'needs_lock=true' >> "$GITHUB_OUTPUT"
            echo "names=$(jq -c '{name: keys}' plan.json)" >> "$GITHUB_OUTPUT"
          fi

      - name: Upload plan
        uses: actions/upload-artifact@v4
        with:
          name: plan.json
          path: scripts/plan.json

  lock:
    runs-on: ubuntu-latest
    needs: plan
    if: ${{ needs.plan.outputs.needs_lock == 'true' }}

    strategy:
      matrix: ${{ fromJson(needs.plan.outputs.names) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.ref_name }}

      - name: Setup UV
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          cache-dependency-glob: |
            **/pyproject.toml
            **/uv.lock

      # - name: Configure AWS credentials
      #   uses: aws-actions/configure-aws-credentials@v4
      #   with:
      #     role-to-assume: ${{ needs.plan.outputs.role_arn }}
      #     aws-region: us-east-1

      # - name: Login to Amazon ECR
      #   uses: aws-actions/amazon-ecr-login@v2

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Download plan
        uses: actions/download-artifact@v4
        with:
          name: plan.json

      - name: Extract image plan
        run: |
          set -euo pipefail

          # Extract plan for this image
          jq -c --arg name '${{ matrix.name }}' '{($name): .[$name]}' plan.json > scripts/image-plan.json

          # Echo plan json for logging
          echo "Image plan for ${{ matrix.name }}:"
          jq . scripts/image-plan.json

      # Require for layer caching
      - name: Setup GitHub Runtime
        uses: crazy-max/ghaction-github-runtime@v3

      - name: Lock image
        run: |
          set -euo pipefail

          # Require for layer caching
          docker buildx create --use --driver docker-container

          # Lock image
          cd scripts
          # uv run --locked src/build.py lock --plan image-plan.json --cache-type gha --output ${{ matrix.name }}-image-lock.json
          uv run --project script --no_workspace build lock --plan image-plan.json --cache-type gha --output ${{ matrix.name }}-image-lock.json
          # Echo lock json for logging
          echo "Image lock for ${{ matrix.name }}:"
          jq . ${{ matrix.name }}-image-lock.json

      - name: Upload image lock artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.name }}-image-lock.json
          path: scripts/${{ matrix.name }}-image-lock.json

  generate-migrations-and-create-deploy-pr:
    runs-on: ubuntu-latest
    needs: [plan, lock]
    if: ${{ always() && needs.plan.result == 'success' && (
      needs.plan.outputs.needs_lock == 'false' ||
      needs.lock.result == 'success' || needs.lock.result == 'skipped'
      ) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ env.DEPLOY_BRANCH }}

      - name: Reset deployment branch
        id: reset-deployment-branch
        run: |
          set -euo pipefail
          git checkout -B "${{ env.DEPLOY_BRANCH }}" origin/"${{ github.ref_name }}"
          git reset --hard
          git clean -xfd

      - name: Setup UV
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          cache-dependency-glob: |
            **/pyproject.toml
            **/uv.lock

      - name: Generate migration
        working-directory: services/api
        env:
          PICCOLO_CONF: src.db.local_conf
        run: |
          uv run --locked piccolo migrations new all --auto --auto_input=y || true

      - name: Download image lock artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: "*-image-lock.json"
          merge-multiple: true
          path: .image-locks

      - name: Build images-lock.json
        shell: bash
        run: |
          set -euo pipefail
          shopt -s nullglob

          echo "Previous images-lock.json:"
          jq -S . images-lock.json

          # Merge new locks into existing images-lock.json
          files=(.image-locks/*.json)
          tmp="$(mktemp)"
          jq -S -s 'reduce .[1:][] as $p (.[0]; . * $p)' \
            images-lock.json "${files[@]}" > "$tmp"
          mv "$tmp" images-lock.json

          echo "New images-lock.json:"
          jq -S . images-lock.json

      - name: Create / update Deploy PR
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ github.token }}
          branch: ${{ env.DEPLOY_BRANCH }}
          base: ${{ github.ref_name }}
          title: "Deploy (bot)"
          body: "Merging this PR will apply migrations and deploy images."
          commit-message: "chore(deploy): update image-lock.json and migrations"
          add-paths: |
            images-lock.json
            **/migrations/*.py
