name: DB Migrations

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  migrate:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.OIDC_ROLE_ARN }}
          aws-region: us-east-1

      - name: Retrieve DB URL from Secrets Manager
        id: get-db-url
        uses: aws-actions/aws-secretsmanager-get-secrets@v1
        with:
          secret-ids: prod/db/connection

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install UV
        run: |
          pip install uv
        
      - name: Install dependencies
        working-directory: services/api
        run: |
          uv sync --frozen

      - name: Run Piccolo migrations
        working-directory: services/api
        run: |
          export POSTGRES_DSN="$PROD_DB_CONNECTION"
          export PICCOLO_CONF=src.db.conf
          uv run piccolo migrations new all --auto --auto_input=y
          uv run piccolo migrations forward all
