name: Deploy

on:
  pull_request:
    types: [closed]
    branches: [main]

concurrency:
  group: deploy
  cancel-in-progress: false

permissions:
  contents: read
  id-token: write

jobs:
  apply-migrations:
    if: >
      github.event.pull_request.merged == true &&
      github.event.pull_request.head.ref == 'bot/deploy'
    runs-on: self-hosted # needs self hosted runner inside vpc in order to connect to postgres
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Pulumi
        uses: pulumi/setup-pulumi@v2

      - name: Authenticate Pulumi
        uses: pulumi/auth-actions@v1
        with:
          organization: tyler-s-hatch
          requested-token-type: urn:pulumi:token-type:access_token:personal
          scope: user:tyler-s-hatch

      - uses: pulumi/esc-action@v1
        id: esc
        with:
          environment: tyler-s-hatch/plerion/core

      - name: Generate GitHub App Token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ steps.esc.outputs.github-app-id }}
          private-key: ${{ steps.esc.outputs.github-app-private-key }}

      - name: Get Pulumi stack outputs
        id: pulumi-outputs
        working-directory: infra
        shell: bash
        run: |
          set -euo pipefail
          echo "postgres_dsn_secret_arn=$(pulumi stack output --stack dev postgres-dsn-secret-arn)" >> $GITHUB_OUTPUT
          echo "role_arn=$(pulumi stack output --stack core main-deploy-role-arn)" >> $GITHUB_OUTPUT

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ steps.pulumi-outputs.outputs.role_arn }}
          aws-region: us-east-1 # TODO pull this from somewhere

      - name: Fetch Postgres DSN secret
        id: get-postgres-dsn
        uses: aws-actions/aws-secretsmanager-get-secrets@v2
        with:
          secret-ids: POSTGRES_DSN,${{ steps.pulumi-outputs.outputs.postgres_dsn_secret_arn }}

      - name: Setup UV
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          cache-dependency-glob: |
            **/pyproject.toml
            **/uv.lock

      - name: Apply migrations
        working-directory: services/api
        env:
          PICCOLO_CONF: src.db.conf
        run: |
          uv sync --frozen
          uv run piccolo migrations forwards all

  deploy-images:
    needs: apply-migrations
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Pulumi
        uses: pulumi/setup-pulumi@v2

      - name: Authenticate Pulumi
        uses: pulumi/auth-actions@v1
        with:
          organization: tyler-s-hatch
          requested-token-type: urn:pulumi:token-type:access_token:personal
          scope: user:tyler-s-hatch

      - uses: pulumi/esc-action@v1
        id: esc
        with:
          environment: tyler-s-hatch/plerion/core

      - name: Generate GitHub App Token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ steps.esc.outputs.github-app-id }}
          private-key: ${{ steps.esc.outputs.github-app-private-key }}

      - name: Get Pulumi stack outputs
        id: pulumi-outputs
        working-directory: infra
        shell: bash
        run: |
          set -euo pipefail
          echo "role_arn=$(pulumi stack output --stack core main-deploy-role-arn)" >> $GITHUB_OUTPUT

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ steps.pulumi-outputs.outputs.role_arn }}
          aws-region: us-east-1 # TODO pull this from somewhere

      - name: Setup UV
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          cache-dependency-glob: |
            **/pyproject.toml
            **/uv.lock

      - name: Deploy infrastructure changes
        working-directory: infra
        run: |
          pulumi up --stack core --yes --skip-preview
          pulumi up --stack dev --yes --skip-preview
